
.infoCH-box{
    width: 100%;
    margin: 0 auto;
}
.infoCH-layout{
    width: 100%;
    min-height: 540px;
    position: relative;
}
}
.infoCH-nav-box{
    width: 100%;
    position: absolute;
    top:0;
    left:0;
}
.infoCH-nav{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding:15px 0;
}
.infoCH-nav-icon{
    width: 92px;
    height: 24px;
    background: url("../../images/infoCH_02.png") no-repeat;
    background-size: cover;
    margin-left: 180px;
    float: left;
}

.infoCH-cp-info{
    width: 100%;
    background: #fff;
    padding-top: 24px;
}
.infoCH-cp-info-box{
    max-width: 1440px;
    margin: auto;
}
.infoCH-cp-info-top{
    width: 100%;
    text-align: center;
}
.infoCH-cp-info-top h2{
    font-size: 24px;
    color: #000;
    font-weight: bold;
    margin-bottom: 6px;
}
.infoCH-cp-info-top > p{
    font-size: 14px;
    color: #1f2630;
    line-height: 24px;
}
.infoCH-cp-info-bottom{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin-top: 20px;
}
.infoCH-cp-info-bottom >div{
    width: 23%;
    height: 310px;
    text-align: center;
    font-size: 13px;
    color: #969a9e;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.infoCH-cp-info-bottom >div:hover{
    border: 1px solid #73aaf5;
    -webkit-transition: all .2s linear;
    -webkit-transition:-webkit-transform .2s linear;
    transition:-webkit-transform .2s linear;
    transition:transform .2s linear;
    transition: transform .2s linear, -webkit-transform .2s linear;
    transform: translate3d(0,-2px,0);
    -webkit-transform: translate3d(0,-2px,0);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}
.infoCH-cp-info-bottom >div:hover .infoCH-cp-info-bottom-btn{
    border : 0;
    background:-webkit-linear-gradient(left, #52c6fc, #4394ff);
    color: #fff;
}
.infoCH-cp-info-bottom-btn a{ color: #73aaf5; display: block;}
.infoCH-cp-info-bottom >div:hover .infoCH-cp-info-bottom-btn a{ color: inherit;}
.infoCH-cp-info-bottom-icon1{
    width: 70px;
    height: 70px;
    background: url("../../images/infoCH_04.png") no-repeat;
    background-size: 750%;
    background-position: 0 4px;
    margin: 0 auto;
    margin-top: 28px;
}
.infoCH-cp-info-bottom-icon2{
    width: 70px;
    height: 70px;
    background: url("../../images/infoCH_04.png") no-repeat;
    background-size: 750%;
    background-position: -293px 4px;
    margin: 0 auto;
    margin-top: 28px;
}
.infoCH-cp-info-bottom-icon3{
    width: 70px;
    height: 70px;
    background: url("../../images/infoCH_04.png") no-repeat;
    background-size: 750%;
    background-position: -67px 4px;
    margin: 0 auto;
    margin-top: 28px;
}
.infoCH-cp-info-bottom-ft{
    font-size: 16px;
    font-weight: bold;
    margin: 14px 0;
    color: #000;
}
.infoCH-cp-info-bottom-text{
    height: 60px;
    padding: 0 8px;
    line-height: 20px;
    font-size: 12px;
    box-sizing: border-box;
}
.infoCH-cp-info-bottom-btn{
    width: 110px;
    padding:6px 0;
    text-align: center;
    border:1px solid #73aaf5;
    color: #73aaf5;
    border-radius: 20px;
    margin : 40px auto;
}
.infoCH-cp-info-bottom-btn-bg{
    background: url("../../images/infoCH_04.png") no-repeat;
    background-size: 700%;
    background-position: -286px -27px;
    border:1px solid rgba(0, 0, 0, 0);
    color: #fff;
}
.infoCH-cp-info-bottom >div:nth-of-type(1) .infoCH-cp-info-bottom-btn{
    /*margin-top: 50px;*/
}
.infoCH-cp-ys{
    width: 100%;
    background: #f4f5f7;
    padding-bottom: 40px;
}
.infoCH-cp-ys-text{
    padding-top:36px;
}
.infoCH-cp-ys-text h2{
    color: #000;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 12px;
}
.infoCH-cp-ys-text >p{
    font-size: 14px;
    color: #4a4f58;
    text-align: center;
}
.infoCH-cp-ys-info{
    width: 800px;
    margin: 0 auto;
    position: relative;
}
.infoCH-cp-ys-info-bg{
    width: 320px;
    height: 297px;
    margin : 0 auto;
    margin-top: 26px;
}
.infoCH-cp-ys-info-one{
    position: absolute;
    top:50px;
    left:-10px;
    width: 238px;
    text-align: right;
}
.infoCH-cp-ys-info-two{
    position: absolute;
    top:186px;
    left:-36px;
    width: 265px;
    text-align: right;
}
.infoCH-cp-ys-info-three{
    position: absolute;
    top:10px;
    right:16px;
    width: 265px;
    text-align: left;
}
.infoCH-cp-ys-info-four{
    position: absolute;
    top:128px;
    right:-32px;
    width: 265px;
    text-align: left;
}
.infoCH-cp-ys-info-five{
    position: absolute;
    top:250px;
    right:-30px;
    width: 320px;
    text-align: left;
}
.infoCH-cp-ys-info-h2{
    font-size: 14px;
    font-weight: bold;
    color: #000;
    margin-bottom:2px;
}
.infoCH-cp-ys-info-p{
    font-size: 12px;
    color:#969a9e;
    line-height: 18px;
}
.infoCH-cp-map{
    width: 100%;
    background: #100c1a;
    padding-bottom: 40px;
}
.infoCH-cp-map-text{
    padding-top: 40px;
    color: #fff;
    text-align: center;
}
.infoCH-cp-map-text h2{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 6px;
}
.infoCH-cp-map-text p {
    font-size: 14px;
    color: #969a9e;
}
.infoCH-cp-map-info{
    max-width: 1440px;
    margin : 0 auto;
}
.infoCH-cp-map-bg{
    width: 650px;
    margin: 0 auto;
    margin-top: 30px;
    position: relative;
}
.infoCH-cp-map-info-01{
    width: 65px;
    position: absolute;
    top:180px;
    left:-44px;
    opacity: 0;
}
.infoCH-cp-map-info-02{
    width: 160px;
    position: absolute;
    top:64px;
    right:-30px;
    opacity: 0;
}
.infoCH-cp-map-info-03{
    width: 122px;
    position: absolute;
    bottom:44px;
    right:174px;
    opacity: 0;
}
.infoCH-cp-map-bg-01{
    width: 30px;
    position: absolute;
    top: 68px;
    left: 225px;
    opacity: 0;
}
.infoCH-cp-map-bg-02{
    width: 35px;
    position: absolute;
    top: 169px;
    left: 8px;
    opacity: 0;
}
.infoCH-cp-map-bg-03{
    width: 44px;
    position: absolute;
    top: 245px;
    left: 324px;
    opacity: 0;
}
.infoCH-cp-map-bg-04{
    width: 50px;
    position: absolute;
    top: 40px;
    right: 113px;
    opacity: 0;
}
.infoCH-cp-plan{
    width: 100%;
    background: #fff;
}
.infoCH-cp-plan-header,.infoCH-cp-billing-header{
    padding-top: 30px;
    text-align: center;
}
.infoCH-cp-plan-header h2,.infoCH-cp-billing-header h2{
    font-size:  24px;
    color:#000;
    font-weight: bold;
    margin-bottom: 6px;
}
.infoCH-cp-plan-header p, .infoCH-cp-billing-header p{
    font-size: 14px;
    color : #000;
}
.infoCH-cp-plan-info{
    max-width: 1440px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 36px;
}
.infoCH-cp-plan-info li{
    -webkit-box-flex:1;
    -webkit-flex:1;
        -ms-flex:1;
            flex:1;
    position: relative;
    margin-right: 2px;
    position: relative;
}
.infoCH-cp-plan-info li > a{
    padding-top: 127.27%;
}
.infoCH-cp-plan-info li:first-child{
    margin-left: 2px;
}
.infoCH-cp-plan-info p{
    position: absolute;
    bottom:16px;
    left:10%;
    width: 80%;
    text-align: left;
    font-size: 12px;
    color: #fff;
}
.infoCH-cp-plan-info span{
    display: block;
    line-height: 16px;
}

.infoCH-cp-plan-info  .back > div{
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.7);
    padding: 15px;
    box-sizing: border-box;
    overflow: hidden;
    color: #fff;
    text-align: center;
}
.infoCH-cp-plan-info  .back h6{
    margin: 5px 0;
    font-size: 18px;
    width: 100%;
    line-height: 1;
}
.infoCH-cp-plan-info  .back span{ margin-top: 10px;}

.infoCH-cp-billing-info{
    margin: 0 auto;
    margin-top: 40px;
    max-width: 1440px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.infoCH-cp-billing{
    padding-bottom: 40px;
}
.infoCH-cp-billing-item{
    width: 19%;
    margin-right: 1%;
    /*height: 282px;*/
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.1);

}
.infoCH-cp-billing-item:last-child{
    margin-right: 0;
}
.infoCH-cp-billing-item-info-bg1{
    width: 45px;
    height: 37px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.infoCH-cp-billing-item-top{
    background: #408bf1;
    color : #fff;
    font-size: 14px;
    padding:12px 0;
    box-sizing: border-box;
}
.infoCH-cp-billing-item-info{
    padding-top: 14px;
    padding-bottom: 43px;
}
.infoCH-cp-billing-item-info-dec1{
    font-size: 14px;
    color : #000;
    font-weight: bold;
    margin-bottom: 8px;
}
.infoCH-cp-billing-item-info-dec2{
    font-size: 12px;
    color : #aaaaaa;
    line-height: 20px;
}
.infoCH-cp-billing-item-info-btn{
    width: 110px;
    margin: 0 auto;
    border : 1px solid #73aaf5;
    border-radius: 20px;
    padding: 5px 0;
    color: #73aaf5;
    font-size: 12px;
    margin-top: 20px;
    box-sizing: border-box;
    cursor: default;
    /*background:-webkit-gradient(linear, left center, right center, from(#52c6fc),to(#4394ff))*/
}
.infoCH-cp-billing-item:hover{
    box-sizing: border-box;
    -webkit-transition:-webkit-transform .2s linear;
    transition:-webkit-transform .2s linear;
    transition:transform .2s linear;
    transition: transform .2s linear, -webkit-transform .2s linear;
    transform: translate3d(0,-2px,0);
    -webkit-transform: translate3d(0,-2px,0);
    border : 1px solid #73aaf5;
    border-top:0;
}

/*.infoCH-cp-billing-item:hover .infoCH-cp-billing-item-info{*/
    /*border : 1px solid #73aaf5;*/
    /*border-top:0;*/
/*}*/
.infoCH-cp-billing-item:hover .infoCH-cp-billing-item-info-btn{
    border : 0;
    background:-webkit-linear-gradient(left, #52c6fc, #4394ff);
    color: #fff;
}
.infoCH-cp-billing-item-info-btn a{ display: block; color: #73aaf5;}
.infoCH-cp-billing-item:hover .infoCH-cp-billing-item-info-btn a{ color:inherit;}

.animation{
    -webkit-animation: pulsate .6s ease-out;
            animation: pulsate .6s ease-out;
}
.animationB{
    -webkit-animation: scaleB .6s ease-out;
            animation: scaleB .6s ease-out;
}
@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(0.1, 0.1);
                transform: scale(0.1, 0.1);
    }

    100% {
        -webkit-transform: scale(1, 1);
                transform: scale(1, 1);
        opacity : 1
    }
}
@keyframes pulsate {
    0% {
        -webkit-transform: scale(0.1, 0.1);
                transform: scale(0.1, 0.1);
    }

    100% {
        -webkit-transform: scale(1, 1);
                transform: scale(1, 1);
        opacity : 1
    }
}
@-webkit-keyframes scaleB {
    0% {
        -webkit-transform: scale(0.1, 0.1);
                transform: scale(0.1, 0.1);
    }
    100% {
        -webkit-transform: scale(1, 1);
                transform: scale(1, 1);
        opacity : 1
    }
}
@keyframes scaleB {
    0% {
        -webkit-transform: scale(0.1, 0.1);
                transform: scale(0.1, 0.1);
    }
    100% {
        -webkit-transform: scale(1, 1);
                transform: scale(1, 1);
        opacity : 1
    }
}

/*bannerå›¾ style */
.index .bg-wrapper{
    padding-top:45%;
}
.index .animation_img {
    width: 50%;
    top: 39%;
    margin-left: -25%;
}
